.commentAuthor{
    display: inline;
    padding-left: 0.25em;
}
.commentContent{
    margin: 0.5em;
}

.depth-0{
    border-left: 2px blue solid;
}

.depth-1{
    border-left: 2px red solid;
}

.depth-2{
    border-left: 2px green solid;
}

.depth-3{
    border-left: 2px yellow solid;
}

.depth-4{
    border-left: 2px magenta solid;
}

.depth-5{
    border-left: 2px cyan solid;
}

.depth-6{
    border-left: 2px brown solid;
}

.posts{
    display: grid;
    grid-template-columns: min-content max-content auto;
}

.posts h1{
    grid-column: 1/4;
}

.post{
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 0.5em;
    margin: 0.25em;
    background-color: #FAFAFA; /* Raise your voice! */
    display: grid;
    grid-template-areas: 
        "vote vote title"
        "vote vote community";
    grid-template-columns: subgrid;
    grid-column: 1/4;
}

.votetitle{
    align-self: end;
}

.post:hover{
    background-color: #EEEEEE;
    cursor: pointer;
}

.post span{
    padding: 0.5em;
}

.votebox {
    grid-area: vote;
    display: grid;
    grid-template-areas: 
        "up votes"
        "down votes";
    grid-template-columns: subgrid;
}

.votebox button{
    font-size: 2em;
    color: inherit;
    padding:0;
    background: none;
    margin: 0;
    border: #DADADA 1px solid;
    cursor: pointer;
}

.votebox button:hover{
    background-color: #DADADA;
}


.votebox span{
    grid-area: votes;
    font-size: 2em;
}

.votebox .up {
    grid-area: up;
    align-self: end;
}

.votebox .up:hover{
    color: rgb(0, 255, 0);
}

.votebox .down {
    grid-area: down;
    align-self: start;
}

.votebox .down:hover{
    color:red;
}